<h1 class="text-center">Perfil de Usuario</h1>
<hr>
<div class="container text-center">
    <p>Nombre: <b>{{first_name}}</b></p> 
    <p>Apellido: <b>{{last_name}}</b></p>
    <p>Edad: <b>{{age}}</b></p>
    <p>Email: <b>{{email}}</b></p>
    <p>Rol: <b>{{role}}</b></p>
    <br><br><br>
    <a href="/view/logout" class="btn">Cerrar sesion</a>
</div>